<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sec.css">
</head>

<body>
    <div class="navContainer">

    </div>

    <div class="main">
        <nav class="navbar">
            <div class="logo">
                <h2>Yours Diary</h2>

                <ul id="navList" class="list">
                    <li><a class="nlist1" id="nlist" href="">Home</a></li>
                    <li><a class="nlist1" id="nlist" href="#blogPost">Blog</a></li>
                    <li><a id="nlist" href="/signup">Sign up</a></li>
                    <li><a id="nlist" href="/login">login</a></li>
                    <li><a id="nlist" href="/profile">Profile</a></li>

                </ul>
            </div>
        </nav>
        <div class="maintext">
            <!-- <h1>More to Read <br>  More to Write <br> </h1>
                <div class="search-container">
                    <i id="icon" class="fa-solid fa-magnifying-glass"><input  type="text" id="searchInput" onkeyup="searchPosts()" placeholder="Search for blog posts..."> </i>
                    
                </div> -->
            <h1>
                <span class="slide-left">More to Read</span> <br>
                <span class="slide-right">More to Write</span> <br>
            </h1>
            <div class="search-container">
                <i id="icon" class="fa-solid fa-magnifying-glass">
                    <input type="text" id="searchInput" onkeyup="searchPosts()" placeholder="Search for blog posts...">
                </i>
            </div>

        </div>
    </div>

    <div class="blogtype">
        <li><a href="/blogs?category=All">All Blog</a></li>
        <li><a href="/blogs?category=Tech">Tech</a></li>
        <li><a href="/blogs?category=LifeStyle">LifeStyle</a></li>
        <li><a href="/blogs?category=Fitness">Fitness</a></li>
        <li><a href="/blogs?category=Business">Business</a></li>
        <li><a href="/blogs?category=Fashion">Fashion</a></li>
        <li><a href="/blogs?category=Quotes">Quotes</a></li>
        <li><a href="/blogs?category=More">More</a></li>

    </div>

    <div class="blogPost" id="blogPost">
        <% if (blogs.length> 0) { %>
            <% blogs.forEach(function(blog) { %>
                <div class="blog-post" data-category="<%= blog.category %>">
                
                    <h3>
                        <a href="/posts/post/<%= blog._id %>" class="post-link"><%= blog.title %></a>
                    </h3>
                    <h4>
                        <%= blog.category %>
                    </h4>
                    <p name="content">
                        <% const truncatedContent = blog.content.substring(0, 100); %>
                        <%= truncatedContent %>...
                        <a href="/posts/post/<%= blog._id %>" class="read-more-link">Read More</a>
                    </p><!-- Truncate content for preview -->

                    <!-- <button class="read-more-button"
                        onclick="showBlogModal('<%= blog.title %>', '<%= blog.category %>', '<%= blog.content %>')">Read
                        More</button> -->
                    <div class="blog-actions">
                        <form action="/posts/like/<%= blog._id %>" method="POST">
                            <button class="like-button"><i class="fa-solid fa-thumbs-up"></i> Like (<%= blog.likes %>
                                    )</button>
                        </form>
                        <!-- <form action="/posts/comment/<%= blog._id %>" method="POST"> -->
                            <button class="comment-button"><i class="fa-solid fa-comment"></i><a href="/posts/post/<%= blog._id %>"> Comment </a></button>
                        <!-- </form> -->
                        <form action="/follow/<%= blog._id %>" method="POST">
                            
                            <button class="follow-button" id="follow-btn" data-following="<%= blog.isFollowing ? 'true' : 'false' %>"><i class="fa-solid fa-user-plus"></i> <%= blog.isFollowing ? 'Unfollow' : 'Follow' %> (<%=
                                    blog.followers.length %>)</button>
                        </form>
                    </div>
                </div>
                <% }) %>
                    <% } else { %>
                        <p>No blogs available yet!</p>
                        <% } %>
    </div>

    <div id="blogModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeBlogModal()">&times;</span>
            <h2 id="modalTitle"></h2>
            <h4 id="modalCategory"></h4>
            <p id="modalContent"></p>
        </div>

    </div>


    <footer>
        <div class="footer-container">
          <!-- About Section -->
          <div class="footer-section">
            <h3>About Us</h3>
            <p>Welcome to our blog! We provide insightful articles and resources to keep you informed and inspired. Stay tuned for more updates.</p>
          </div>
      
          <!-- Quick Links -->
          <div class="footer-section" id="list">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li><a href="/terms">Terms of Service</a></li>
            </ul>
          </div>
      
          <!-- Social Media Links -->
          <div class="footer-section">
            <h3>Follow Us</h3>
            <div class="social-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
      
          <!-- Newsletter Signup -->
          <div class="footer-section">
            <h3>Subscribe to Our Newsletter</h3>
            <form action="/subscribe" method="POST">
              <input type="email" name="email" placeholder="Enter your email" required>
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      
        <div class="footer-bottom">
          <p>&copy; 2024 Yours Diary. All rights reserved.</p>
        </div>
      </footer>
      

    
    <script src="/js/index.js"></script>
</body>

</html>